<div class="field time">
  <div class="group">
    <app-dropdown-input
      [value]="startValue"
      [(isOpened)]="startDropdownOpened"
      [converter]="timeConverter"
      [options]="_startTimeOptions$ | async"
      (valueChanged)="onStartTimeChanged($event)"
    ></app-dropdown-input>
    <span class="bar"></span>
  </div>
</div>

<span>–</span>

<div class="field time">
  <div class="group">
    <app-dropdown-input
      [value]="endValue"
      [(isOpened)]="endDropdownOpened"
      [converter]="timeConverter"
      [options]="_endTimeOptions$ | async"
      (inputValue)="onInputValue($event)"
      (valueChanged)="onEndTimeChanged($event)"
    ></app-dropdown-input>
    <span class="bar"></span>
  </div>
</div>
