@import "src/variables";
@import "../../../mixins";

:host {
  align-items: center;
  display: flex;
  margin: 2px 16px 0;

  .field {
    border-radius: 4px;

    .field.time {
      @include input(30px);
    }

    &:hover {
      background-color: rgba(32, 33, 36, 0.039);
    }
  }
}
