# Common
.idea
package-lock.json
*.pfx

# tutor-calendar-client
tutor-calendar-client/dist
tutor-calendar-client/node_modules
tutor-calendar-client/tmp
tutor-calendar-client/out-tsc
tutor-calendar-client/.angular
tutor-calendar-client/npm-debug.log
tutor-calendar-client/yarn-error.log

# System Files
Thumbs.db
