@import "src/variables";

:host-context(app-timetable-preview) {
  border: red 1px solid;

  .day {
    padding-right: 0;
  }
}

:host, {
  flex: 1 0 auto;
  border-right: $border-color 1px solid;

  .day {
    position: relative;
    height: 100%;
    min-width: $min-column-width;
    width: 100%;
    padding-right: 12px;
  }

  .layout {
    position: relative;
  }
}
