<div class="timetable">
  <div class="row">
    <div class="timeline"></div>
    <div class="line-delta"></div>
    <div class="table-title" *ngFor="let day of daysCoverage">
      <div class="title-grid-serif"></div>
      <div class="data weekday">{{day.weekday.narrow | uppercase}}</div>
      <div class="data number-day">{{day.title}}</div>
    </div>
  </div>

  <div class="row">
    <div class="table-container">
      <div class="timeline" data-role="timeline" #timeline>
        <div class="time-point" data-time-point="{{point.toString()}}" *ngFor="let point of _timePoints">
          {{point.toString()}}
        </div>
      </div>

      <div class="grid">
        <div role="row" *ngFor="let point of _timePoints"></div>
      </div>

      <div class="vertical-grid-line line-delta"></div>

      <div class="days" *ngFor="let day of daysCoverage">
        <div class="day" [attr.data-datekey]="day.datekey">
          <div class="layout">
            <app-slot *ngFor="let slot of day.slots"
                      [title]="slot.title"
                      [timeRangeTitle]="slot.timeRangeTitle"
                      [positionStyles]="slot.positionStyles">
            </app-slot>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
