<div class="nav-calendar-container">
  <div class="nav-calendar">
    <div class="selector-row">
      <span class="title">
        {{dateSelectionService.activeMonth$ | async | moment: dateFormats.display.monthYearA11yLabel | titlecase}}
      </span>
      <div (click)="dateSelectionService.changeActiveMonth(-1)"
           data-button="prev" class="button prev-month">
        <i data-button="prev" class="material-icons">navigate_before</i>
      </div>
      <div (click)="dateSelectionService.changeActiveMonth(1)"
           data-button="next" class="button next-month">
        <i data-button="next" class="material-icons">navigate_next</i>
      </div>
    </div>

    <app-nav-calendar-body
      [label]="dateSelectionService.activeMonth$ | async | moment: dateFormats.display.monthYearA11yLabel"
      [rows]="_weeks"
      [weekdays]="_weekdays"
      [todayValue]="_todayDate!"
      [startValue]="_rangeStart!"
      [endValue]="_rangeEnd!"
      [previewStart]="_previewStart!"
      [previewEnd]="_previewEnd!"
      [isRange]="_isRange"
      [activeCell]="_dateAdapter.getDate(dateSelectionService.activeMonth$ | async) + _firstWeekOffset - 1"
      (selectedValueChange)="_dateSelected($event)"
      (previewChange)="_previewChanged($event)"
    ></app-nav-calendar-body>
  </div>
</div>
