@import 'variables';

:host {
  display: table-row-group
}

.table {
  display: table;
  table-layout: fixed;
  width: 100%;
  text-align: center;

  .row {
    display: table-row;
    height: 28px;

    .cell {
      color: $default-color;
      position: relative;
      display: table-cell;
      font-size: 10px;
      font-weight: 500;
      vertical-align: middle;
      cursor: pointer;
      outline: none;

      &.today > .day-title {
        background-color: #1a73e8;
        color: #fff;
      }

      &.today > .day-title:hover {
        background-color: #1967d2;
      }

      &.in-range:not(.today) > .day-title:hover {
        background-color: #aecbfa;
      }

      &:not(.today).in-range > .day-title {
        background-color: #d2e3fc;
        color: #185abc;
      }

      &.selected:not(.today) > .day-title {
        background-color: #d2e3fc;
        color: #185abc;
      }

      &:not(:first-child).in-range:not(.range-start) {
        &:before {
          background: #d2e3fc;
          color: #fff;
        }
      }

      &:before {
        position: absolute;
        height: 24px;
        left: -50%;
        right: 50%;
        z-index: -1;
        content: "";
        background-color: white;
        transition: background-color 100ms linear;
      }
    }

    .day-title {
      width: 24px;
      height: 24px;
      line-height: 24px;
      margin: auto;
      border-radius: 50%;
      background-color: white;
      transition: background-color 100ms linear;

      &:hover {
        background-color: #f1f3f4;
      }
    }

    .gray-text {
      color: $default-gray-color;
    }
  }
}








